@font-face{
    font-family: 'Piskel';
    src: url("assets/piskel.otf");
}

.piskel{
    font-family: 'Piskel';
}
.main_table{
    background-color: white;
    width:70%;
    height:80vh;
    border-radius: 10px;
}
.main_table>li{
    margin: 5px;
    height:fit-content;
    font-size: clamp(1rem, 1vw, 2rem);
}
.main_table>li::before{
    content: url('assets/hand.png');
    display: inline-block;
}
.title{
    font-size: clamp(1.5rem, 2vw, 3rem);
    text-align: center;
}